span.window-text{
	/*background-color: #bae2f4;*/
	background-color: none;
}
input#lastClickId{
	visibility:hidden;
}
input#lastClickSimilarTermId{
	visibility:hidden;
}
#selectedCategory{
	visibility:hidden;
}	
label[for=lastClickId],label[for=lastClickSimilarTermId]{
	visibility:hidden;
}	
.not-found{
	color: red;
	font-weight: bold;
}	
#simclinLabel{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
#addNewNegation_click{
	display: block;
    margin: 0 auto;
}
.true-simclin{
	font-weight: bold;
	color: green;
}
.false-simclin{
	font-weight: bold;
	color: red;
}
.clear-both{
	clear: both;
}
/*input#suggestedSynonyms,input#trueSynonyms, input#systemEfficacy{
	pointer-events: none;
	width: 100px;
}*/
div#header-div{
  padding:0;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border-radius: 0;
  margin-bottom: 10px;
}	
/*#selected_terms{
  direction: rtl;
}*/	